@import 'variables';
@import '~element-ui/lib/theme-chalk/index.css';

@font-face {
    font-family: "MyriadMM";
    src: url("../assets/fonts/MyriadMM.ttf");
}

* {
    font-family: "MyriadMM", sans-serif;
}

body {
    font-family: "MyriadMM", sans-serif;
    min-height: 100%;
    color: #505050;
    margin: 0;
    padding: 0;
}

.el-dialog__header, .el-dialog__footer {
    background-color: #324057;
    padding: 15px;
}

.el-dialog__title {
    color: #fff;
}

.el-icon-more {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.el-table {
    width:100%;
    border-top:1px solid #eee;
}

.no-padding-dialog > .el-dialog__body {
    padding: 0px;
}

.pointer {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-white, .text-white:hover, .text-white:active, .text-white:focus {
    color: #fff !important;
}

.bg-blue {
    background-color: $blue;
}

.bg-indigo {
    background-color: $indigo;
}

.bg-purple {
    background-color: $purple;
}

.bg-pink {
    background-color: $pink;
}

.bg-red {
    background-color: $red;
}

.bg-orange {
    background-color: $orange;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-green {
    background-color: $green;
}

.bg-teal {
    background-color: $teal;
}

.bg-cyan {
    background-color: $cyan;
}

.text-success {
    color: $green;
}

.text-danger {
    color: $red;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #eceeef;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
    border-top: 2px solid #eceeef;
}

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #dff0d8;
}

.table-hover .table-success:hover {
    background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
    background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
    background-color: #d9edf7;
}

.table-hover .table-info:hover {
    background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
    background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
    background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
    background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #f2dede;
}

.table-hover .table-danger:hover {
    background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: #ebcccc;
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.table-inverse {
    color: #fff;
    background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
    border-color: #fff;
}

.table-inverse.table-bordered {
    border: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
    border: 0;
}

.td-label {
    font-weight: bold;
    width: 200px !important;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

// .el-table th {
//     background-color: #e77431;
//     color: #fff;
// }

.el-tag.rounded {
    border-radius: 13px;
}

.el-tag.full-width {
    width: 100%;
}

.el-table .cell {
    word-break: normal;
}
